.booksContainer {
  width: 80%;
  margin: 10px;
}

.selectedCategory {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .booksContainer {
    width: 100%;
  }
}
